.header{  
    display: flex;
background-color: aquamarine;
  text-align: center;
  padding-left: 15cm;
}

.Q{
    display:flex;
    padding-left: 5cm;
   
    background-color: aqua;
}

.A{
    display:flex;
    margin-right: 10cm;
    
}



.I{
    display:flex;
    padding-bottom: 3cm;
}

.F{
display:flex;
padding-left:5cm;
background-color: aqua;

}

.img{
    display:flex;
    padding-top: 4cm;
   padding-right: 9cm;
  
}




